"*":
  "atom-beautify":
    general:
      analytics: false
      beautifyEntireFileOnSave: false
    json:
      brace_style: "expand"
      end_with_newline: true
      indent_size: 2
      jslint_happy: true
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
    titleBar: "custom"
  editor:
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    scrollPastEnd: false
